@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');

* {
    font-family: 'Courier Prime', monospace;
}

body {
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    width: 100%;
    height: fit-content;
}

#root {
    min-height: 100vh;
    max-height: fit-content;
    min-width: 100vw;
}

.inputs{
    margin: 5px;
    margin-right: 10px;
    width:50%;
    height: fit-content;
}

.outputs {
    margin: 5px;
    margin-left: 10px;
    width: 50%;
    height: fit-content;
}

.outputs img {
    width: 100%;
    height: 100%;
}

.subheading {
    margin: 5px;
    margin-right: 10px;
    margin-top: 40px;
    width: 100%;
    height: fit-content;
}

.addbutton {
    margin: 10px;
    border: 2px solid black;
}

.addbutton:hover {
    border: 2px solid black !important;
}

.deletebutton {
    margin: 10px;
}

.line{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 0.5px;
    margin: 20px;
}

ul { padding-left: 1.2em; }

.sub-head {
    margin-top: 20px;
}

h4 {
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 5px 5px 0px #eee, 5px 5px 0px #707070;
    /* color: aliceblue; */
    /* text-shadow: 3px 3px 0 #ffd217, 5px 5px 0 #5ac7ff, 7px 7px 0 #ffd217, 9px 9px 0 #5ac7ff; */
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .outputs {
        display: none;
    }
    h4 {
        display: block;
        font-size: 1.5rem;
    }
    .inputs{
        width: 95%;
    }
    .subheading {
        margin-left: 0px;
    }
    .foot-info {
        font-size: 0.5rem;
    }
    .button-54 {
        font-size: 10px;
    }

    #titleRender {
        display: block;
    }
    #headingRender {
        display: block;
    }
    #textareaRender {
        display: block;
    }
    #techUsed {
        display: block;
    }
    .checkbox {
        margin: 10px;
    }
    .tech {
        font-size: smaller;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 778px) {
    body {
        overflow-x: hidden;
    }
    h4 {
        font-size: 1.4rem;
    }
    .foot-info {
        font-size: 1.15rem;
    }
    .checkbox {
        margin: 10px;
    }
    .tech {
        font-size: smaller;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 778px) and (min-width:600px) {
    body {
        overflow-x: hidden;
    }
    h4 {
        font-size: 1.3rem;
    }
    .feat-sub {
        font-size: 0.95rem;
    }
    .foot-info {
        font-size: 0.9rem;
    }
    .checkbox {
        margin: 10px;
    }
    .tech {
        font-size: smaller;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
}